@{ 
    ViewData["Title"] = "Contacts";
}
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        <br />
        <div>
            <table border="1" style="border-width: medium;" class="text-center">
                <tr>
                    <td>Name</td>
                    <td>Vk</td>
                </tr>
                <tr>
                    <td> Laysan</td>
                    <td><a href="https://vk.com/id45728454">VK</a></td>
                </tr>
                <tr>
                    <td> EugeneA</td>
                    <td><a href="https://vk.com/netherdragon">VK</a></td>
                </tr>

            </table>
        </div>
    </div>