@*<body>
        <link href="~/css/NewAuthorization.css" rel="stylesheet" />
            <form class="form-signin" method="post">
                <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>
                <label for="inputEmail" class="sr-only">Login</label>
                <input name="Login" type="text" id="inputEmail" class="form-control" placeholder="Login" required="" autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input name="Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                <br />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <br />
                <h5><a id="reg" asp-controller="Authorization" asp-action="Registred">Регистрация...</a></h5>
            </form>
    </body>*@
@model CourseWorkWeb.ViewModels.LoginViewModel

<h2>Вход в приложение</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div>
        <input type="submit" value="Войти" />
    </div>
    <a id="reg" asp-controller="Account" asp-action="Register">Регистрация...</a>
</form>