@*@model CourseWorkWeb.Models.User

    <body>
        <link href="~/css/NewRegistred.css" rel="stylesheet" />

        <form class="form-signin" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
            <label for="inputEmail" class="sr-only">Login</label>
            <input name="Login" asp-for="Login" type="text" id="inputEmail" class="form-control" placeholder="Login" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input asp-for="Password" name="Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <label for="inputEmail" class="sr-only">Email</label>
            <input asp-for="Email" name="Email" type="text" id="inputEmail" class="form-control" placeholder="example@mail.com" required="">
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Regestration</button>
            <br />

        </form>

    </body>*@
@model CourseWorkWeb.ViewModels.RegisterViewModel
<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Email" for="exampleInputEmail1">Email address</label>
        <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <span asp-validation-for="Email"></span>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.(haha)</small>
    </div>
    <div class="form-group">
        <label asp-for="Login" for="exampleInputEmail1">Login</label>
        <input asp-for="Login" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <span asp-validation-for="Login"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" for="exampleInputPassword1">Password</label>
        <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordConfirm" for="exampleInputPassword1">Password Confirm</label>
        <input asp-for="PasswordConfirm" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

