#reg{
    color:black;
    text-align:right;
}
.form-group h2 {
    text-align: left;
    color: black;
    width: auto;
}

label{
    margin-right:10px;
    color:black;
}
.btn{
    background-color:black;
    color:white;
}
