/*/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

header {
    background: #1C1C1C;
    color: #fff
}

body, h1, h2, a{
    font-family: 'Montserrat', sans-serif;
}
a {
    color: #e5e5e5
}
    a:hover {
        color: #A9A9A9; /* Цвет ссылки при наведении на нее курсора мыши */
        text-decoration: underline; /* Добавляем подчеркивание */
    }
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}


.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */



